doctype html
html(ng-app='gotApp')
	head
		title= title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet",
		integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/" +
		"KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
		script(src="javascripts/app.js")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+" +
		"dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/" +
		"lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
		base(href="/")
	body
		header
			h1 What-I-Got
			nav.navbar(ng-controller="navCtrl")
				ul.nav.nav-pills
					li(ng-hide="user.username")
						a(href='/login') Login
					li(ng-show='user.username')
						a(ng-click='logout()' href='#') Logout
		block content
		script(src="javascripts/controllers/registerCtrl.js")
		script(src="javascripts/controllers/loginCtrl.js")
		script(src="javascripts/controllers/navCtrl.js")
		script(src="javascripts/controllers/inventoryCtrl.js")
		script(src="javascripts/controllers/newItemModalCtrl.js")
		script(src="javascripts/controllers/viewItemModalCtrl.js")
		script(src="javascripts/services/authService.js")
		script(src="javascripts/services/collectionService.js")
		script(src="javascripts/services/categoryService.js")
		script(src="javascripts/services/itemService.js")
		script(src="javascripts/directives/modalDirective.js")
