body {
  padding: 30px 50px;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  background-image: url("../images/crossword.png");
}

h1 {
  font-size: 54px;
  padding: 5px;
  font-family: 'Indie Flower', cursive;
}

.inset {
  font-size: 18px;
}

.categories {
  text-align: right;
  padding-right: 15px;
}

.item_area {
  background-color: lavender;
  background-image: url("../images/green_cup.png");
  border-left: 2px solid black;
  border-right: 2px solid black;
  min-height: 400px;
}

.item-header {
  font-weight: bold;
}

.item {
  padding: 5px;
  display: inline-flex;
  background-color: aliceblue;
  background-image: url("../images/squared_metal.png");
  width: 227px ;
  height: 232px;
  flex-wrap: wrap;
  margin: 10px;
  text-align: left;
  border-radius: 5%;
  position: relative;
}

.modal-body {
  background-color: #eeeedd;
}

.p_and_s_list {
  text-align: right;
  padding-right: 30px;
}
.p_and_s_list ul {
  list-style: none;
}

.pop {
  width: 100%;
}

.itemBtn {
  display: inline-block;
  height: 30px;
}

.collBar {
  border-bottom: 3px solid black;
}

.addColl {
  margin-top: 0;
}

.collHeader {
  margin-top: -46px;
}

.collTab {
  padding: 3px 10px;
  margin: 5px 0px;
  border: 2px solid #9494b8;
  border-radius: 20% 20% 0 0;
  background-color: #e6e6e6;
}

.highlightedColl{
  border-bottom: none;
  background-color: inherit;
}

.labelSpace {
  margin: 0 10px 0 0;
}

.glyphicon {
  padding-left: 10px;
}

.rawr {
  position: absolute;
  right: 5px;
  top: 5px;
}

.glyphicon:hover {
  color: red;
}

.catTab {
  padding: 2px 5px 2px 0;
  margin: 0;
  border: 2px solid #9494b8;
  border-radius: 10% 0 0 10%;
  background-color: #e6e6e6;
}

.highlightedCat {
  border-right: none;
  background-color: inherit;
}