<div class="container-fluid" ng-controller="inventoryCtrl as inv">
	<h2>Collections</h2>
	<div class="row" role="navigation">
		<ul class="nav nav-pills">
			<li ng-repeat="coll in collections" ng-click="getCategories(coll._id)"><span class="collTab">
				{{coll.name | uppercase}}</span><button ng-click="deleteCollection(coll._id)">&times</button> </li>
			<li ng-show='user.username' class="dropdown, navbar-right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
				   aria-expanded="false">
					Add New Collection <span class="caret"></span>
				</a>
				<form class="dropdown-menu">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="New Collection Name" ng-model="newCollection">
						<button class="btn btn-default" ng-click="createCollection()">Add Collection</button>
					</div>
				</form>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-2 categories">
			<form class="new_category">
				<input type="text" name="category" id="category" placeholder="New Category Name" ng-model="newCategory">
				<input type="submit" value="Add Category" id="category_submit" ng-click="createCategory()">
			</form>
			<h4> Categories</h4>
			<ul class="nav nav-stacked">
				<li ng-repeat="cat in categories" ng-click="getItems(cat._id); $event.stopPropagation()">
					{{cat.name | uppercase}} <button ng-click="deleteCategory(cat._id)">&times</button> </li>
			</ul>
		</div>
		<div class="col-md-8 item_area">
			<h3>Item Catalog </h3>


			<div ng-controller="NewItemModalCtrl" class="container">
				<button ng-click="toggleNewItem()" class="btn btn-default">New Item</button>
				<modal title="New Item" visible="showNewItem">
					<form role="form" id="newItemForm">
						<div class="form-group">
							<label for="itemName">Item Name {{newItem.name}}</label>
							<input type="text" class="form-control" name="name" id="itemName" ng-model="newItem.name" maxlength="10"/>
						</div>
						<div class="form-group">
							<label for="itemQty">Item Quantity</label>
							<input type="number" class="form-control" name="qty" id="itemQty" min="1" ng-model="newItem.qty"/>

							<label for="consumable">Is this item consumable?</label>
							<input type="checkbox" class="form-control" name="consumable" id="consumable" ng-model="newItem.consumable"/>

							<label for="bDesc">Brief Description (30 character limit)</label>
							<input type="text" class="form-control" name="bDesc" id="bDesc" maxlength="30" ng-model="newItem.bDesc"/>

							<label for="cDesc">Complete Description</label>
							<textarea form="newItemForm" class="form-control" name="cDesc" id="cDesc" ng-model="newItem.cDesc"></textarea>
						</div>
						<button ng-click="createItem()" class="btn btn-default">Submit</button>
					</form>
				</modal>
			</div>


			<div class="item" ng-repeat="item in items" data-item-id="{{item._id}}">
				<h4 class="pop" ng-click="toggleItem()">Name: {{item.name}}</h4>
				<p class="pop">Qty: {{item.qty}}</p>
				<label for="consume" class="labelSpace">Item consumable?</label>
				<input id="consume" type="checkbox" ng-checked="{{item.consumable}}" disabled>
				<p class="pop">Brief Description: {{item.briefDesc}}</p>
				<button class="itemBtn" ng-click="deleteItem(item._id)">Delete</button>



			<div ng-controller="ViewItemModalCtrl" class="container">
				<button ng-click="toggleItem(item)" class="itemBtn">Edit</button>
				<modal title="Item Review" visible="showItem">
					<form role="form" id="viewItemForm">
						<div class="form-group">
							<label for="name">Item Name {{newItem.name}}</label>
							<input type="text" class="form-control" name="name" id="name" ng-model="viewItem.name" maxlength="10"/>
						</div>
						<div class="form-group">
							<label for="qty">Item Quantity</label>
							<input type="number" class="form-control" name="qty" id="qty" min="1" ng-model="viewItem.qty"/>

							<label for="consumption">Is this item consumable?  </label>
							<input type="checkbox" class="form-control" name="consumable" id="consumption" ng-model="viewItem.consumable"/>

							<label for="briefDesc">Brief Description (30 character limit)</label>
							<input type="text" class="form-control" name="bDesc" id="briefDesc" maxlength="30" ng-model="viewItem.briefDesc"/>

							<label for="compDesc">Complete Description</label>
							<textarea form="newItemForm" class="form-control" name="cDesc" id="compDesc" ng-model="viewItem.compDesc"></textarea>
						</div>
						<button ng-click="updateItem(item._id)" class="btn btn-default">Submit</button>
					</form>
				</modal>
			</div>


				<button class="itemBtn" ng-click="addToShoppingList(item.name)">Shopping</button>
				<button class="itemBtn" ng-click="addToProjectList(item.name)">Project</button>
			</div>


		</div>
		<div class="col-md-2 p_and_s_list">
			<div class="row">
				<h4>Project List</h4>
				<ul>
					<li ng-repeat="item in projectList"><span>{{item.name | uppercase}}</span>
						<button ng-click="deleteFromProjectList(item._id)">&times</button></li>
				</ul>
			</div>
			<div class="row">
				<h4>Shopping List</h4>
				<ul>
					<li ng-repeat="item in shoppingList"><span>{{item.name | uppercase}}</span>
						<button ng-click="deleteFromShoppingList(item._id)">&times</button></li>
				</ul>
			</div>
		</div>
	</div>
</div>