<div class="container-fluid" ng-controller="inventoryCtrl as inv">
	<h2 class="collHeader">Collections</h2>

	<div class="row collBar" role="navigation">
		<ul class="nav nav-tabs dropup">
			<li ng-repeat="coll in collections" ng-click="getCategories(coll._id)" class="collTab"
			    ng-class="{highlightedColl: coll._id == currentCollection}">{{coll.name | uppercase}}
				<span class="glyphicon glyphicon-remove-circle" ng-click="deleteCollection(coll._id)"></span> </li>
			<li ng-show='user.username' class="dropdown navbar-right" role="presentation">
				<h3 class="dropdown-toggle addColl" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
				   aria-expanded="false">
					Add New Collection <span class="caret"></span>
				</h3>
				<form class="dropdown-menu">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="New Collection Name" ng-model="newCollection" required>
						<button class="btn btn-default" ng-click="createCollection()">Add Collection</button>
					</div>
				</form>
			</li>
		</ul>
	</div>

	<div class="row">
		<div class="col-md-2 categories">
			<h4> Categories</h4>
			<div class="dropup">
				<h5 class="dropdown-toggle addColl" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
				    aria-expanded="false">Add New Category<span class="caret"></span></h5>
				<form class="new_category dropdown-menu">
					<input type="text" name="category" id="category" class="form-control" placeholder="New Category Name"
					       ng-model="newCategory">
					<input type="submit" class="btn btn-default" value="Add Category" id="category_submit" ng-click="createCategory()">
				</form>
			</div>
			<ul class="nav">
				<li ng-repeat="cat in categories" ng-click="getItems(cat._id); $event.stopPropagation()" class="catTab"
				    ng-class="{highlightedCat: cat._id == currentCategory}">
					{{cat.name | uppercase}} <span ng-click="deleteCategory(cat._id)" class="glyphicon glyphicon-remove-circle">
				</span> </li>
			</ul>
		</div>


		<div class="col-md-8 item_area">
			<h3 class="item-header">Item Catalog </h3>


			<div ng-controller="NewItemModalCtrl" class="container">
				<button ng-click="toggleNewItem()" class="btn btn-default">New Item</button>
				<modal title="New Item" visible="showNewItem">
					<form role="form" id="newItemForm">
						<div class="form-group">
							<label for="itemName">Item Name</label>
							<input type="text" class="form-control" name="name" id="itemName" ng-model="newItem.name" maxlength="20"/>
						</div>
						<div class="form-group">
							<label for="itemQty">Item Quantity</label>
							<input type="number" class="form-control" name="qty" id="itemQty" min="1" ng-model="newItem.qty"/>

							<label for="consumable">Is this item consumable?</label>
							<input type="checkbox" class="form-control" name="consumable" id="consumable" ng-model="newItem.consumable"/>

							<label for="bDesc">Brief Description (30 character limit)</label>
							<input type="text" class="form-control" name="bDesc" id="bDesc" maxlength="30" ng-model="newItem.bDesc"/>

							<label for="cDesc">Complete Description</label>
							<textarea form="newItemForm" class="form-control" name="cDesc" id="cDesc" ng-model="newItem.cDesc"></textarea>
						</div>
						<button ng-click="createItem(); toggleNewItem()" class="btn btn-default">Submit</button>
					</form>
				</modal>
			</div>


			<div class="item" ng-repeat="item in items" data-item-id="{{item._id}}">
				<span class="glyphicon glyphicon-remove-circle" ng-click="deleteItem(item._id)"></span>
				<h4 class="pop" ng-click="toggleItem()">{{item.name}}</h4>
				<p class="pop">Qty: {{item.qty}}</p>
				<label for="consume" class="labelSpace">Item consumable?</label>
				<input id="consume" type="checkbox" ng-checked="{{item.consumable}}" disabled>
				<p class="pop">Brief Description: {{item.briefDesc}}</p>


			<div ng-controller="ViewItemModalCtrl" class="container">
				<button ng-click="toggleItem(item)" class="itemBtn btn btn-default">Edit</button>
				<modal title="Item Review" visible="showItem">
					<form role="form" id="viewItemForm" class="item_form">
						<div class="form-group">
							<label for="name">Item Name {{newItem.name}}</label>
							<input type="text" class="form-control" name="name" id="name" ng-model="viewItem.name" maxlength="20"/>
						</div>
						<div class="form-group">
							<label for="qty">Item Quantity</label>
							<input type="number" class="form-control" name="qty" id="qty" min="1" ng-model="viewItem.qty"/>

							<label for="consumption">Is this item consumable?  </label>
							<input type="checkbox" class="form-control" name="consumable" id="consumption" ng-model="viewItem.consumable"/>

							<label for="briefDesc">Brief Description (30 character limit)</label>
							<input type="text" class="form-control" name="bDesc" id="briefDesc" maxlength="30" ng-model="viewItem.briefDesc"/>

							<label for="compDesc">Complete Description</label>
							<textarea form="newItemForm" class="form-control" name="cDesc" id="compDesc" ng-model="viewItem.compDesc"></textarea>
						</div>
						<button ng-click="updateItem(); closeItem()" class="btn btn-default">Submit</button>
					</form>
				</modal>
			</div>


				<button class="itemBtn btn btn-default" ng-click="addToShoppingList(item.name)">Shopping</button>
				<button class="itemBtn btn btn-default" ng-click="addToProjectList(item.name)">Project</button>
			</div>


		</div>
		<div class="col-md-2 p_and_s_list">
			<div class="row">
				<h4>Project List</h4>
				<ul>
					<li ng-repeat="item in projectList"><span>{{item.name | uppercase}}</span>
						<span ng-click="deleteFromProjectList(item._id)" class="glyphicon glyphicon-remove-circle"></span></li>
				</ul>
			</div>
			<div class="row">
				<h4>Shopping List</h4>
				<ul>
					<li ng-repeat="item in shoppingList"><span>{{item.name | uppercase}}</span>
						<span ng-click="deleteFromShoppingList(item._id)" class="glyphicon glyphicon-remove-circle"></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>